/* this is a comment */



body
{
background-color: plum;


}
p
{
    text-align: center;
    font-size:larger;
    font-family: monospace;
    font-weight: bold;
    color:blueviolet;
    text-decoration-line: underline;
    text-decoration-color: pink;
}
button
{
    background-color:red ;
    border-color: yellow;
    border-radius: 30px;
    border-style:dashed;
    width: 150px;
    height: 100px;
    cursor: crosshair;
}

.buttonsJC
{
    text-align: center;
    font-size: 30px;
    background-color: aqua;
    border-color: limegreen;
    border-radius: 12px;
    border-style: dotted;
    width: 75px;
    height: 45px;
    background-image: linear-gradient(blue), (black);

}
.buttonsJC:hover
{
    background-color: lightsalmon;
    border: none;
    color: lime;
    padding: 16px 32px;
    transition-duration: .4s;

}